extends ./layout.jade

block content
  h2.
    FAQs
  .box
    ul
      li
        p
          strong Q:
          | Will this make public any info I don't want people to see?
        p
          strong A:
          | Nope! All lists default to private, so people only see what you want them to.

      li
        p
          strong Q:
          | Why don't notes or subtasks show up for completed tasks?
        p
          strong A:
          | This is a weird restriction of the wunderlist API. You can fetch all notes and subtasks for incomplete tasks on a list, but nothing (in bulk) for completed ones. In the interest of speed (especially for lists with many completed tasks), you need to click into the task info to see more in depth info.

      li
        p
          strong Q:
          | What data do you store? Can you see my private notes?
        p
          strong A:
          | I store only your access token and the ids of the list you've chosen to make public. The token is encrypted at rest, so only the app can use it.
