extends ./layout.jade

block content
  ul
    li
      p
        strong Q: 
        | Will this make public any info I don't want people to see?
      p
        strong A: 
        | Nope! All lists default to private, so people only see what you want them to.

    li
      p
        strong Q: 
        | Will this make public any info I don't want people to see?
      p
        strong A: 
        | Nope! All lists default to private, so people only see what you want them to.
