extends ./layout.pug

block content
  if user
    h2
      small
        = name || 'User'
        |  &gt; 
      | Settings

    .ng-cloak(ng-controller='ListsController')
      p
        span(ng-show='loading').
          Loading...
        span(ng-hide='loading').
          These are your wunderlists. Check the ones you'd like to make public!
        //- pre
          {{ model | json }}
      .box
        ul
          li(ng-repeat='list in model.lists' ng-click='toggle(list)')
            input(type='checkbox' ng-model='model.public_lists[list.id]')
            | {{ list.title }}

          //- should this page link to the list at all? 
          //- a(ng-href='/user/#{wid}/lists/{{list.id}}' target='_blank')
          //-   span(class='glyphicon glyphicon-link')

        .btn.btn-default(ng-click='save()').
          Save
        span.left-pad(ng-bind='model.message')

  else
    h2 Public Lists
    p
      | The best part of making lists is being able to track items you need to remember. The second best part is being able to share those lists with other people. Mysteriously, Wunderlist pulled their public list feature, so we recreated it. 
    p.
      Authenticate with wunderlist to get started!
    a.btn.btn-default.btn-lg(href='/login').
      Authenticate
      
