extends ./layout.pug

block content
  if logged_in
    //- this goes outside the angular because they're already logged in to fetch
    h2
      small
        = name || 'User'
        |  &gt;
      |  Settings

    .ng-cloak(ng-controller='SettingsController')
      p
        span(ng-show='loading').
          Loading...
        span(ng-hide='loading').
          Check the lists you'd like to make public. Click a folder to toggle all of its contents. You can unpublish at any time by unchecking the box.
        //- pre
          {{ model | json }}
      .box
        ul
          li.fat.clickable(ng-repeat='item in model.lists' ng-click='toggle(item)' ng-class='computeClasses(item)')
            input(ng-if='item.type !== "folder"' type='checkbox' ng-model='model.public_lists[item.id]')
            span.glyphicon.glyphicon-list(ng-if='item.type !== "folder"')

            span.glyphicon.glyphicon-folder-open(ng-if='item.type === "folder"')
            | {{ item.title }}

          //- should this page link to the list at all?
          //- a(ng-href=`/user/${wid}/lists/{{list.id}}` target='_blank')
          //-   span(class='glyphicon glyphicon-link')

        .btn.btn-default(ng-click='save()').
          Save
        span.left-pad(ng-bind='model.message')

  else
    h2 Public Lists
    p.
      The best part of making lists is being able to track items you need to remember. The second best part is being able to share those lists with other people. Mysteriously, Wunderlist pulled their public list feature, so we recreated it.
    h3.
      Check it out
    p
      | If you're curious about what this looks like, why not check out my
      = ' '
      a(href='/user/6452502/lists')
        | public lists
      | ?
    h3.
      Try for yourself
    p.
      Authenticate with Wunderlist to get started!
    a.btn.btn-default.btn-lg(href='/login').
      Authenticate

