extends ./layout.jade

block content
  p
    | These are your lists. Check the ones you'd like to make public! 
    
  ul(style="list-style-type: none")
    li(ng-repeat="list in lists")
      input(type="checkbox" ng-model="model[list.id]")
      span
        | 
      a(href="/lists/{{list.id}}/tasks")
        | {{list.title}}
        