extends ./layout.pug

block content
  if logged_in
    //- this goes outside the angular because they're already logged in to fetch
    h2
      small
        = name || 'User'
        |  &gt;
      |  Settings

    .ng-cloak(ng-controller='SettingsController')
      p
        span(ng-show='loading').
          Loading...
        span(ng-hide='loading').
          Check the lists you'd like to make public. You can unpublish at any time by unchecking the box.
        //- pre
          {{ model | json }}
      .box
        ul
          li.clickable.fat(ng-repeat='list in model.lists' ng-click='toggle(list)')
            input(type='checkbox' ng-model='model.public_lists[list.id]')
            | {{ list.title }}

          //- should this page link to the list at all?
          //- a(ng-href=`/user/${wid}/lists/{{list.id}}` target='_blank')
          //-   span(class='glyphicon glyphicon-link')

        .btn.btn-default(ng-click='save()').
          Save
        span.left-pad(ng-bind='model.message')

  else
    h2 Public Lists
    p.
      The best part of making lists is being able to track items you need to remember. The second best part is being able to share those lists with other people. Mysteriously, Wunderlist pulled their public list feature, so we recreated it.
    p.
      Authenticate with wunderlist to get started!
    a.btn.btn-default.btn-lg(href='/login').
      Authenticate

