extends ./layout.jade

block content
  if user
    //- if user.wunderlistToken
    .content(ng-controller="ListsController")
      p.
        These are your lists. Check the ones you'd like to make public!

      ul
        li(ng-repeat="list in lists" ng-click="toggle(list)")
          .row
          input(type="checkbox" ng-model="model[list.id]")
          //- a(href="/lists/{{list.id}}/tasks")
          | {{list.title}}

      .btn.btn-default(ng-click="save()").
        Save
  else

    include ./_wunderlist
