extends ./layout.pug

block content
  h2(ng-show='!loading')
    small
      = name
      |  &gt;
    |  Lists

  .ng-cloak(ng-controller='ListsController')
    p
      span(ng-show='loading').
        Loading...

    .box(ng-if='model.lists.length > 0')
      p
        | These are
        = ' '
        = name
        | 's public lists. Click one to see its tasks!
      ul
        li.clickable(ng-repeat='list in model.lists')
          a(ng-href='/user/{{model.wid}}/lists/{{list.id}}')
            span.
              {{ list.title }}

    p(ng-if='!loading && model.lists.length === 0').
      This user has no public lists
