extends ./layout.pug

block content
  h2
    small
      a(href=`/user/${user.wid}/lists`)
        = user.name
      |  &gt; 
    = list.title

  p.
    This is the current state of the list. Click a task for more info.

  if tasks.length > 0
    .box
      ul
        each task in tasks
          li
            if task.completed
              span.glyphicon.glyphicon-check
            else
              span.glyphicon.glyphicon-unchecked

            if task.note
              span.balloon(data-toggle="tooltip" data-placement="right" title=task.note)
                = task.title
            else
              = task.title
          //- ul
            each subtask in task.subtasks
              li.subtask
                if subtask.completed
                  span.glyphicon.glyphicon-check
                else
                  span.glyphicon.glyphicon-unchecked
                    
                = subtask.title
  else
    p.
      This list is empty!
