extends ./layout.jade

block content
  .content
    h2
      = list.title

    if tasks.length > 0
      ul
        each task in tasks
          li.nopoint
            = task.title
            if task.note
              = ' - ' + task.note
          ul
            each subtask in task.subtasks
              li.nopoint.subtask= subtask.title

    else
      p.
        This list has no incomete items!
        
