extends ./layout.pug

block content  
  h2
    small
      = name
      |  &gt; 
    | Lists

  if lists.length > 0
    .box
      ul
        each list in lists
          li(onclick=`location.href="/user/${wid}/lists/${list.id}"`)
            = list.title
  else
    p.
      This user has no public lists
