extends ./layout.jade

block content  
  .content
    p.
      These are #{name}'s public lists.

    if lists.length > 0
      ul
        each list in lists
          li
            .linkbox
              a(href="/user/#{wid}/lists/#{list.id}")
                = list.title

    else
      p.
        This user has no lists!
