extends ./layout.jade

block content
  .content
    h2
      = list.title

    if tasks.length > 0
      ul
        each task in tasks
          li.nopoint
            if task.completed
              span.glyphicon.glyphicon-check
            else
              span.glyphicon.glyphicon-unchecked

            if task.note
              span.balloon(data-balloon='#{task.note}' data-balloon-pos='right' data-balloon-length='fit')
                = task.title
            else
              = task.title
          ul
            each subtask in task.subtasks
              li.nopoint.subtask
                if subtask.completed
                  span.glyphicon.glyphicon-check
                else
                  span.glyphicon.glyphicon-unchecked
                    
                = subtask.title

    else
      p.
        This list has no incomete items!
