extends ./layout.pug

block content
  .ng-cloak(ng-controller='TaskController')
    h2
      small
        a(href=`/user/${user.wid}/lists`)
          = user.name
        |  &gt;
        = ' '
        a(href=`/user/${user.wid}/lists/${list.id}`)
          = list.title
        |  &gt;
      | Task

    .well.well-sm.box
      h1
        span(ng-bind='loading ? "Loading..." : model.task.title' )

      h3.icons(ng-if='!loading')
        span.glyphicon.glyphicon-check(ng-if='model.task.completed')
        span.glyphicon.glyphicon-unchecked(ng-if='!model.task.completed')

        span.glyphicon.glyphicon-star(ng-if='model.task.starred')
        span.glyphicon.glyphicon-star-empty(ng-if='!model.task.starred')

      .note(ng-if='model.task.note')
        p
          strong.
            Note:
        p.subtask
          span(ng-bind-html='model.task.note | linky')

      .subtasks(ng-if='model.task.subtasks.length > 0')
        p
          strong.
            Subtasks ({{ subtaskPercentage(model.task.subtasks) }}% complete):
        ul
          li.subtask(ng-repeat='task in model.task.subtasks')
            span.glyphicon.glyphicon-check(ng-if='task.completed')
            span.glyphicon.glyphicon-unchecked(ng-if='!task.completed')

            | {{ task.title }}
