@import 'media';

$blue: #00274c;
$maize: #ffcb05;
$grey: #eff0f1;
$dark_grey: #e5e5e5;
$white: #fff;
$dark_blue: #333333;

$footer_height: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer_height;

  background-image: url('bg2.png');
  background-color: $blue;

  color: $grey;

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  .gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }

  .btn {
    color: $dark_blue;
    &:hover {
      color: $dark_blue;
    }
    &:visited {
      color: $dark_blue;
    }
  }

  a {
    color: $maize;
    &:hover {
      color: $maize;
    }
    &:visited {
      color: $maize;
    }
  }

  .mid {
    // h1 {
      // small {
      //   color: $grey;
      // }
    // }

    .formbox {
      align: center;
      color: $dark_blue;

      @include tablet {
        width: 30%;
      }

      form {
        border: 1px solid $grey;
        border-radius: 5px;
        padding: 20px;
        background-color: $white;
      }
    } 

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        color: $dark_blue;
        padding: 10px;
        margin: 2px;
        background-color: $grey;
        border-radius: 5px;
        cursor: pointer;

        input {
          margin-right: 10px;
        }
      }
    }
    // maybe I should make a package out of this
    .left-pad {
      padding-left: 10px;
    }
  } // end of mid

  .bot {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px dashed $maize;
    height: $footer_height;

    // remove texture in fotter with this
    // background-color: $blue;

    p {
      margin: 10px 0;
    }
  } // end of bot

} // end of body